[submodule "src/lib/log"]
	path = src/lib/log
	url = git@github.com:AdrienPensart/log.git
[submodule "src/lib/network"]
	path = src/lib/network
	url = git@github.com:AdrienPensart/network.git
[submodule "src/lib/system"]
	path = src/lib/system
	url = git@github.com:AdrienPensart/system.git
[submodule "src/lib/keyboard"]
	path = src/lib/keyboard
	url = git@github.com:AdrienPensart/keyboard.git
[submodule "src/common"]
	path = src/common
	url = git@github.com:AdrienPensart/common.git
