[submodule "src/lib/log"]
	path = src/lib/log
	url = git@bitbucket.org:crunchengine/log.git
[submodule "src/lib/network"]
	path = src/lib/network
	url = git@bitbucket.org:crunchengine/network.git
[submodule "src/lib/system"]
	path = src/lib/system
	url = git@bitbucket.org:crunchengine/system.git
[submodule "src/lib/keyboard"]
	path = src/lib/keyboard
	url = git@bitbucket.org:crunchengine/keyboard.git
